<section id="title" class="container clearfix">
	
	
		<!-- Title -->
		<div class="ten columns">
		
			<h1><b>Beware Human!</b></h1>
			<h4 >This is the about page, where you will see how awesome this team<br> of designers really is. You have been warned!</h4>
			
		</div>
		<!-- End Title -->
		
		 
	</section><!-- END CONTAINER -->
	
	<section id="team" class="container">
	
		
		<!-- Members -->
        <div class="row">
		<ul class="members">
		
			        <div class="col-sm-4">
				<img src="<%= image_path 'member1.jpg'%>" alt="member" width="150" height="150" />
				<h2>John Doe</h2>
				<a href="twitter.com">@johndoe</a>
				<p>John, our Head of Client Services, is an 
				experienced marcoms practitioner and 
				manages projects from inception to delivery. 
				He understands the synergy.</p>
			</div>
			
			        <div class="col-sm-4">
				<img src="<%= image_path 'member2.jpg'%>" alt="member" width="150" height="150" />
				<h2>Jane Doe</h2>
				<a href="twitter.com">@janedoe</a>
				<p>Our Creative Director and Head of 
				Development Jane combines an expert 
				technical knowledge with a real eye 
				for design.</p>
			</div>
			
			        <div class="col-sm-4">
				<img src="<%= image_path 'member3.jpg'%>" alt="member" width="150" height="150" />
				<h2>Jane Two</h2>
				<a href="twitter.com">@janetwo</a>
				<p>Jane began making websites when animated 
				logos and scrolling text were cool, but has 
				since found a love for simplicity, creating 
				websites that are awesome.</p>
			</div>
			
		</ul>
		<!-- End Members -->
		</div>
	
	</section><!-- END CONTAINER -->
	
	
	<!-- Services -->
	<section id="services">
		
		<div class="container clearfix">
			<!-- Intro -->
			<div class="sixteen columns">
				<h1>See what we can do.</h1>
			<h3 style="color:grey;">	Here are our complete services lists.</h3>
			</div>
			<!-- End Intro -->
			
			<div class="row">
            			        <div class="col-sm-4">
                                			<h4>	<img src="<%= image_path 'lightning.png'%>" alt="member"  />

				Design</h4>
				<ul>
					Web design<br>
					User interface (UI)<br>
					Branding & identities<br>
					HTML emails<br>
					Mobile applications<br>
					Mobile websites<br>
					Interactive advertising
				</ul>
			</div>
			
						        <div class="col-sm-4">
				<h4>	<img src="<%= image_path 'lightbulb.png'%>" alt="member"  /> Development</h4>
				<ul>
					Expression Engine<br>
					Wordpress<br>
					Textpattern<br>
					Drupal<br>
					PHP, MySQL, Linux, Apache<br>
					Ruby on rails<br>
					jQuery
				</ul>
			</div>
			
						        <div class="col-sm-4">
				<h4> 	<img src="<%= image_path 'coffeecup.png'%>" alt="member"  />In brief</h4>
				<ul>We think that if you have a project and want it to 
				run smoothly, get done on time and produce great 
				results then you should definitely <a href="contact.html"><b style="color:red";>speak to us</b></a>
				</ul>
				<ul>We're a friendly, skilled team always prepared to 
				help.</ul>
			</div>
		</div>
		</div><!-- END CONTAINER -->
	
	</section>
	<!-- End Services -->
	
		