


        










<section id="slider" class="container clearfix">
	
	
		<!-- Begin Slider -->
		<div class="bannercontainer" style="background:transparent !important;">
		
			<div class="banner">
				
				<ul>
				
					
					<li data-transition="slideright" data-slotamount="4">
						<img src="<%= image_path 'transparent.png'%>" alt="background" />
						<div class="caption heading sft"  data-x="640" data-y="148" data-speed="900" data-start="100" data-easing="easeOutQuad"><h1>Welcome to Crisp.</h1></div>
					   <div class="caption heading lfr"  data-x="640" data-y="201" data-speed="900" data-start="1000" data-easing="easeOutQuad"><h2>I am a mighty - awesome designer<br />portfolio.</h2></div>
					   <div class="caption lfb" data-x="0" data-y="51" data-speed="900" data-start="1700" data-easing="easeOutQuad"><img src="<%= image_path 'slide1iPad.jpg'%>" alt="html" width="485" height="379"></div>
					   <div class="caption lfb" data-x="360" data-y="124" data-speed="900" data-start="2500" data-easing="easeOutQuad"><img src="<%= image_path 'slide1iPhone.png'%>" alt="html" width="260" height="306"></div>
					</li>
					
					<li data-transition="slideright" data-slotamount="3">
						<img src="<%= image_path 'transparent.png'%>" alt="background" />
						<div class="caption heading lfb"  data-x="640" data-y="148" data-speed="900" data-start="700" data-easing="easeOutQuad"><h1>Identity, Brands.</h1></div>
					   <div class="caption heading lfr"  data-x="640" data-y="201" data-speed="900" data-start="1000" data-easing="easeOutQuad"><h2>Super awesome identity projects<br />are cool to look at.</h2></div>
					   <div class="caption lfb" data-x="0" data-y="50" data-speed="900" data-start="1700" data-easing="easeOutQuad"><img src="<%= image_path 'slide2.jpg'%>" alt="html" width="623" height="380"></div>
					</li>
					
					<li data-transition="slideright" data-slotamount="3">
						<img src="<%= image_path 'transparent.png'%>" alt="background" />
						<div class="caption heading lfr"  data-x="640" data-y="148" data-speed="900" data-start="700" data-easing="easeOutQuad"><h1>Web design. Check.</h1></div>
					   <div class="caption heading sft"  data-x="640" data-y="201" data-speed="900" data-start="1000" data-easing="easeOutQuad"><h2>Show off your designs with the<br />whole canvas around them.</h2></div>
					   <div class="caption lfb" data-x="0" data-y="52" data-speed="900" data-start="1700" data-easing="easeOutQuad"><img src="<%= image_path 'slide3.jpg'%>" alt="html" width="620" height="378"></div>
					</li>
					
				</ul>
				<div class="tp-leftarrow tparrows round large" style="visibility: visible; position: absolute; left: 0px; top: 215px; opacity: 0;"></div>
			</div>
			
		</div>
		<!-- End Slider -->
		
		
	</section><!-- END CONATINER -->


<div class="container-fluid" id="features">

    <div class="row">
        <div class="col-sm-4"> <img src="<%= image_path 'heart.png'%>" alt="heart" width="60" height="60" />
            <h2>You will fall in love</h2>
            <p>So awesome that you are already<br />hooked, aren’t you?</p>     </div  >
        <div class="col-sm-4"> <img src="<%= image_path 'ice-cream.png'%>" alt="ice-cream" width="60" height="60" />
            <h2>Oohh so sweet</h2>
            <p>With design so sweet, it tastes<br />just like ice-cream.</p>
        </div>
        <div class="col-sm-4"> <img src="<%= image_path 'loupe.png'%>" alt="loupe" width="60" height="60" />
            <h2>Retina ready</h2>
            <p>Packed with retina graphics,<br />we care about your eyes!</p>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-4"> <img src="<%= image_path 'arrows.png'%>" alt="arrows" width="60" height="60" />
            <h2>Fully responsive</h2>
            <p>Looks gorgeous on any device<br />scales down just perfect.</p>
        </div>
        <div class="col-sm-4"> <img src="<%= image_path 'grid.png'%>" alt="grid" width="60" height="60" />
            <h2>Build on Skeleton</h2>
            <p>Built on the strong foundation<br />of the Skeleton grid.</p>
        </div>
        <div class="col-sm-4"> <img src="<%= image_path 'cog.png'%>" alt="cog" width="60" height="60" />
            <h2>Easy setup</h2>
            <p>Well documented and fully<br />commented code.</p>
        </div>




    </div>

    </div>

</div>
<div class="row">
    </br>
</div>


<section id="gallery" class="container">
		
		<div class="row">
			
			<!-- Intro -->
			        <div class="col-sm-3">
				<h1>Latest work.</h1>
				<h2>See our latest and greatest works.</h2>
				<p>Donec sed odio dui. Nulla vitae 
				elit libero a pharetra augue. 
				Nullam id dolor id nibh ultricies 
				vehicula ut id elit.</p>
			<!--	<a class="button" href="portfolio-3-columns.html">More</a>-->
                <a button type="button" class="btn btn-danger"  href="/">More</button></a>
			</div>
			<!-- End Intro -->
			
			<!-- Thumbnails -->
            <div class="col-sm-9">
                <div class="row">
			<ul class="thumbs">
				        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio1.jpg'%>" width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Red machine.</h3></a>
				<p class="meta">illustration / graphic design</p>
				</div>
				
				        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio2.jpg'%>"  width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Purple haze.</h3></a>
				<p class="meta">UI design / web</p>
				</div>
				
				        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio3.jpg'%>"  width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Architetista.</h3></a>
				<p class="meta">identity / branding</p>
				</div>
			</ul>
                </div>
			
		
		<div class="row">
			

			<ul class="thumbs offset-by-four">
								        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio4.jpg'%>"  width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Indadesign.</h3></a>
				<p class="meta">illustration / graphic design</p>
				</div>
				
								        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio5.jpg'%>"  width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Mojito.</h3></a>
				<p class="meta">UI design / web</p>
				</div>
				
						        <div class="col-sm-3">
				<a class="screen-roll" href="portfolio-single-project.html">
					<span></span>
					<img src="<%= image_path 'portfolio6.jpg'%>"  width="200" height="250" alt="thumb" />
				</a>	
				<a href="#"><h3>Zen tea.</h3></a>
				<p class="meta">identity / branding</p>
				</div>
			</ul>
			
		</div>
		
		</div>
		</div>
	
	</section>


    <section id="clients">
		<div class="row">
		
			<!-- Clients -->
									        <div class="col-sm-12">
				<img src="<%= image_path 'clients.png'%>" alt="clients" />
			</div>
            									    
			<!-- Clients -->
		
		
		</div><!-- END CONTAINER -->
	</section>